body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fist-para,
.sticky-div {
  width: 70%;
  margin: 1% auto;
  padding: 1%;
}

.sticky-title {
  background-color: gainsboro;
  color: rgb(70, 41, 5);
  text-align: center;

  position: sticky;
  top: 0%;
}

.social-media {
  position: fixed;
  top: 30%;
  left: 0%;
}

.fa-brands {
  color: white;
  padding: 20%;
  width: 100%;
}

a {
  display: block;
}
.fa-facebook-f {
  background-color: #4861b3;
}

.fa-twitter {
  background-color: #359bf0;
}
.fa-instagram {
  background-color: #df2e6c;
}
.fa-youtube {
  background-color: #ff1116;
}
.fa-github {
  background-color: #323332;
}
.fa-linkedin-in {
  background-color: #3360b1;
}

.fixed-chat {
  position: fixed;
  bottom: 1%;
  right: 1%;
}
