* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  height: 100vh;
}
.center {
  width: 80%;
  height: 60%;
  margin: auto;
  padding-top: 10%;
}
.dark-theme {
  background-color: black;
  color: white;
}

.light-theme {
  background-color: white;
  color: black;
}
