.main-app {
  width: 100%;
  height: auto;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgb(253, 254, 254);
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
