* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.grdient-class {
  background-position: center;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
}

.grad {
  width: 100px;
  height: 100px;
  margin: 1%;
  padding: 1%;
}

.grad-1 {
  border-style: dotted;
  border-color: rgb(108, 6, 6);
  color: rgb(214, 19, 19);
}

.grad-1-1 {
  border-style: solid;
  border-color: rgb(55, 4, 4);
  color: rgb(163, 14, 14);
}

.grad-2 {
  border-style: dashed;
  border-color: #fe45ab;
  color: rgb(25, 12, 12);
}

.grad-3 {
  border-style: double;
  border-color: rgb(27, 3, 162);
  color: rgb(13, 136, 91);
}

.grad-4 {
  border-style: groove;
  border-width: 5px;
  border-color: rgb(33, 4, 4);
  color: rgb(140, 28, 28);
}

.grad-5 {
  border-style: ridge;
  border-width: 5px;
  border-color: rgb(33, 4, 4);
  color: rgb(140, 28, 28);
}

.grad-6 {
  border-style: inset;
  border-width: 5px;
  border-color: rgb(33, 4, 4);
  color: rgb(140, 28, 28);
}

.grad-7 {
  border-style: outset;
  border-width: 5px;
  border-color: rgb(33, 4, 4);
  color: rgb(140, 28, 28);
}

.grad-8 {
  border-style: none;
  border-width: 5px;
  border-color: rgb(33, 4, 4);
  color: rgb(140, 28, 28);
}

.grad-9 {
  border-style: hidden;
  border-width: 5px;
  border-color: rgb(33, 4, 4);
  color: rgb(140, 28, 28);
}

.grad-10 {
  border-style: dotted dashed solid double;
  border-width: 5px;
  border-color: rgb(33, 4, 4);
  color: rgb(140, 28, 28);
}

.grad-11 {
  /* border-width: 5px;
  border-style: solid;
  border-color: rgb(33, 4, 4); */
  border: 2px solid red;
  color: rgb(140, 28, 28);
}

.grad-12 {
  border: 2px solid blue;
  border-radius: 10px;
  /* border-radius: 10%; */
}

.grad-13 {
  border: 2px solid blue;
  border-radius: 40%;
}

.grad-14 {
  border: 2px solid brown;
  border-radius: 50%;
}

.grad-15 {
  width: 250px;
  border: 2px solid brown;
  border-radius: 50px;
}
