.nav-bar {
  background-color: #2975f0;
  color: white;
  margin-bottom: 10px;
  position: sticky !important;
  z-index: 2;
  top: 0%;
  width: 100%;
  margin: auto;
}

.me-auto {
  color: white !important;
}

.me-auto .nav-item {
  color: white !important;
}

#basic-nav-dropdown {
  color: white !important;
}
.links {
  text-decoration: none;
  color: #8a578b;
}

.count {
  font-weight: 900 !important;
}

.user-details {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
  align-items: center;
}

.user-name {
  text-align: center;
  font-weight: 800;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar .search-field {
  width: 45%;
  margin: auto;
}

.cart-icon-cont {
  margin-right: 10px;
}
.cart-counts {
  position: absolute;
  top: 14%;
  left: 73%;
  background-color: red;
  color: yellow;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  padding: 0;
  text-align: center;
}
