.nav-bar {
  background-color: rgb(254, 254, 255);
  margin-bottom: 10px;
}

.links {
  text-decoration: none;
  color: #8a578b;
}

.count {
  font-weight: 900 !important;
}

.user-details {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
  align-items: center;
}

.user-name {
  text-align: center;
  font-weight: 800;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
