* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent {
  width: 80%;
  height: 300px;
  margin: auto;
  border: 1px solid green;
  background-color: antiquewhite;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
}

.child {
  width: 100px;
  height: 100px;
  margin: auto;
  border: 1px solid green;
}

.grand-child {
  width: 50px;
  height: 50px;
  margin: auto;
  border: 1px solid green;
}

.child-1 {
  background-color: aqua;
  position: absolute;
  top: 2%;
}

.child-2 {
  background-color: floralwhite;
  position: relative;
  top: 20%;
  left: 50px;
}
.child-3 {
  background-color: yellow;
}

.child-4 {
  background-color: aquamarine;
}

.child-5 {
  background-color: honeydew;
}

.grand-child-1 {
  background-color: honeydew;
  position: absolute;
  top: 2%;
}

.grand-child-2 {
  background-color: hotpink;
}

.grand-child-3 {
  background-color: palegreen;
}

.grand-child-4 {
  background-color: indianred;
}

/* ---- notification bar --- */
.header {
  background-color: rgb(69, 1, 1);
  display: flex;
  height: 50px;
  padding: 1%;
}

.search-div {
  width: 50%;
  position: relative;
}
.search-bar {
  width: 80%;
  height: 25px;
  border-radius: 50px;
  border: none;
  padding: 2%;
  padding-left: 4%;
}
.search-icon {
  position: absolute;
  left: 1%;
  top: 20%;
  color: #757373;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  color: white;
}

.icons {
}
.social-icon {
  position: relative;
  margin: 2%;
}

span {
  position: absolute;
  left: 50%;
  top: -50%;
  background: red;
  font-size: 7px;
  width: 15px;
  height: 13px;
  text-align: center;
  padding-top: 3px;
  border-radius: 3px;
}

.main-cont {
  background-color: beige;
  position: relative;
  height: 92vh;
}

.strt-bar {
  background-color: rgb(18, 4, 74);
  height: 56px;
  width: 45%;
  border-radius: 60px;

  position: absolute;
  top: 35%;
  left: 10%;
  z-index: 5;

  transform: rotate(45deg);
}

.strt-bar-1 {
  background-color: rgb(243, 13, 24);
  height: 56px;
  width: 45%;
  border-radius: 60px;

  position: absolute;
  top: 35%;
  left: 10%;
  z-index: 5;

  transform: rotate(30deg);
}

/*
Social media on side- start

*/

.social-media-cont {
  position: fixed;
  transition: left 1s ease-in-out;

  left: -5%;
  width: 7%;
}
.social-media-cont:hover {
  left: 0%;
}
.social-media {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: white;
  text-decoration: none;
  padding: 4.5%;
}
.social-media:hover {
  flex-direction: row;
}

.social-media p {
  text-align: center;
}

.fa-brands,
.fa-solid {
  font-size: 20px;
}

.fb-cont {
  top: 45%;
}
.fb {
  background: #2861ae;
}

.gh-cont {
  top: 49%;
}
.gh {
  background: #010d1c;
  color: white;
}

.li-cont {
  top: 53%;
}
.li {
  background: #0b63bd;
  color: white;
}

.ig-cont {
  top: 57%;
}
.ig {
  background: #f35107;
  color: white;
}

.web-cont {
  top: 61%;
}

.web {
  background: #2c6d54;
  color: white !important;
}

.mail-cont {
  top: 65%;
}

.mail {
  background: #cc4365;
  color: white !important;
}

/*
Social media on side- end

*/
