.card {
  margin: 1%;
}

.card .to-do-list:hover {
  background-color: beige;
}

.card .to-do-list:hover .icons {
  display: inline-block;
}

.card .icons {
  display: none;
}

.todo-text .MuiTextField-root {
  width: 90%;
  margin: 2% 5%;
}

.card .btn-size {
  width: 90%;
  margin: 2% 5%;
}

.card .update {
  border: 1px solid red;
}

.card .todo-lists {
  min-height: 230px;
  max-height: 460px;
  overflow-y: auto;
}
